
/* select */
.select-wrap {
    font-size: 30px;
    margin: 50px auto;
    width: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-wrap__select {
    margin-top: 10px;
    width: 80%;
    padding: 8px;
    border-radius: 8px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

/* country-info */

.country-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    width: 800px;
    min-height: 350px;
    margin: 0 auto;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.473);
    border-radius: 15px;
}

.flag-box {
    flex-basis: 40%;
}

.flag-box__img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 200px;
}

.info-box {
    flex-basis: 50%;
}

.info-box-wrap {
    display: flex;
    font-size: 25px;
    padding-bottom: 3px;
}

.info-box__label {
    min-width: 40%;
    margin-right: 15px;
    text-align: right;
}

/* loader */

.lds-ellipsis {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

/* footer */

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;

    display: flex;
    align-items: flex-end;
}

.footer__author {
    font-size: 16px;
}

.footer__github-link {
    margin-left: 25px;
}

.footer__github-logo {
    width: 60px;
}

/* media-queries */

@media(max-width: 870px) {
    .app-header {
        padding: 30px 0;
        font-size: 50px;
    }

    .select-wrap {
        font-size: 28px;
        margin: 0 auto 50px;
        width: 90%;
    }

    .country-info-container {
        width: 80%;
        padding: 30px;
    }

    .flag-box {
        width: 240px;
        margin-bottom: 10px;
    }
    .flag-box__img {
        max-height: 150px;
    }

    .info-box {
        flex-basis: 50%;
    }

    .info-box-wrap {
        font-size: 20px;
    }

    .info-box__label {
        min-width: 40%;
        margin-right: 15px;
        text-align: right;
    }
}

@media(max-width: 720px) {
    .country-info-container {
        flex-direction: column;
        width: 60%;
        padding: 20px;
    }

    .flag-box {
        width: 80%;
    }

    .info-box-wrap {
        margin-left: 15px;
    }

    .info-box {
        width: 100%;
    }
}

@media(max-width: 600px) {
    .select-wrap {
        font-size: 22px;
    }

    .select-wrap__select {
        font-size: 18px;
    }

    .info-box-wrap {
        font-size: 18px;
    }

    .flag-box__img {
        max-height: 130px;
    }
}

@media(max-width: 490px) {
    .app-header {
        font-size: 42px;
    }

    .select-wrap {
        font-size: 20px;
    }

    .select-wrap__select {
        font-size: 16px;
    }

    .country-info-container {
        width: 80%;
    }

    .flag-box {
        width: 200px;
    }
}

@media(max-width: 390px) {
    .app-header {
        font-size: 40px;
    }

    .select-wrap {
        font-size: 18px;
        margin: 0 auto 30px;
    }
    .flag-box__img {
        margin: auto;
        max-width: 100%;
        max-height: 120px;
    }
    .footer__github-link {
        margin-left: 10px;
    }

    .footer__github-logo {
        width: 55px;
    }

}

@media(max-width: 350px) {
    .app-header {
        font-size: 34px;
        padding: 20px 0;
    }

    .select-wrap {
        font-size: 16px;
    }

    .country-info-container {
        width: 90%;
    }

    .flag-box {
        width: 170px;
    }

    .info-box-wrap {
        font-size: 16px;
    }

    .footer {
        margin: 10px;
    }

    .footer__author {
        font-size: 16px;
    }

    .footer__github-link {
        margin-left: 15px;
    }

    .footer__github-logo {
        width: 50px;
    }
}

.none {
    display: none;
}