.country-details {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  width: 800px;
  min-height: 350px;
  margin: 0 auto;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.473);
  border-radius: 15px;
}

.info-boxes-wrap {
  width: 100%;
}

@media (max-width: 870px) {
  .country-details {
    width: 80%;
    padding: 30px;
  }

  .info-boxes-wrap {
    flex-basis: 50%;
  }
}

.info-box-container {
  flex-basis: 50%;
}
@media (max-width: 870px) {
  .info-box-container {
    flex-basis: 50%;
  }
}

@media (max-width: 720px) {
  .country-details {
    flex-direction: column;
    width: 60%;
    padding: 20px;
  }
  .info-box-container {
    width: 100%;
  }
}

@media (max-width: 490px) {
  .country-details {
    width: 80%;
  }
}

@media (max-width: 350px) {
  .country-details {
    width: 90%;
  }
}
